<form [formGroup]="blogForm">
  <mat-card>
    <mat-card-title *ngIf="!(routerSelector.isEdit$ | async)">
      Create Blog Post
    </mat-card-title>
    <mat-card-title *ngIf="routerSelector.isEdit$ | async">
      Edit Blog Post
    </mat-card-title>
    <mat-card-content class="flex flex-column">
      <rg-input formControlName="title" label="Title"></rg-input>
      <rg-textarea formControlName="content" label="Content"></rg-textarea>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button
        type="button"
        color="primary"
        [disabled]="!blogForm.valid"
        (click)="onSave()">
        Save
      </button>
      <button mat-raised-button
        *ngIf="routerSelector.isEdit$ | async"
        type="button"
        color="warn"
        (click)="onDelete(postUUID)">
        Delete
      </button>
      <button mat-raised-button
        type="button"
        [routerLink]="['/']">
        Back to List
      </button>
    </mat-card-actions>
  </mat-card>
</form>